
extends layout

block content
	div.container(style='margin:20px auto')
		table.table.table-bordered.table-striped
			thead.thead-dark
				tr
					th(style='width:50px;text-align:center') #
					th(style='width:240px') Name
					th(style='width:220px') National ID
					th(style='width:220px') Location
					th(style='width:220px') Confirm ID No.
					th(style='width:240px') Phone Number
					th(style='width:240px') Station
					th(style='width:240px') Level of Education
					th(style='width:240px') Institution
					th(style='width:240px') Date of Birth
					th(style='width:240px') Date of Appointment
					th(style='width:240px') Marital Status
					th(style='width:240px') Gender
					th Account Created
			tbody
			- for (var i = 0; i < accts.length; i++)
				tr
					td(style='text-align:center')= i+1
					td= accts[i].name
					td= accts[i].user
					td= accts[i].county
					td= accts[i].id
					td= accts[i].phone
					td= accts[i].station
					td= accts[i].loe
					td= accts[i].inst
					td= accts[i].dob
					td= accts[i].doa
					td= accts[i].status
					td= accts[i].gender